body {
	width : 962px;
	margin: 0 auto;
	padding: 10px;
	
}

h1 {
	color: sienna;
}

div.main1 {
	background-color: wheat;
	padding: 10px;
	margin : 10px;
	border: 1px solid black;
	font-family: arial;
	border-radius: 5px;
}
.option {
	padding: 10px;
	margin: 5px 10px;
	border: 1px solid black;
	float: left;
	text-align: center;
	border-radius: 10px;
}

.option:hover{
	background-color: sienna;
}

#header {
	width : 920px;
}

#mysearch {
		margin: 10px;
		width : 150px;
		height: 40px;
		float: left;
}
 #coolmenu {
 	margin: 10px;
	width: 725px;
	height: 40px;
	float: left;
}

	
#footer2 {
		width :150px;
		height: auto;
		float: left;
		font-size: 12px;
	
}
#upper_right {
	width: 725px;
	padding: 10px auto;
	float:left;
	line-height: 1.5em;
}
tr:hover {
	background-color: sienna;
}


svg {
	margin: 10px 10px 10px 40px;
	background-color: white;
}

.green {
	
	background-color: green;
	cursor: default;
}

.node text {
	font: 12px sans-serif;
	font-color: white;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}