body {
	width : 962px;
	margin: 0 auto;
	padding: 0px;
	
}


#header {
	width : 920px;
}


h1 {
	color: sienna;
	text-align: center;
}



.option, .option2{
	background-color: #4AA02C;
	border: 5px outset #4AA02C;
	color: white;
	padding: 10px;
	margin: 5px 5px;
	float: left;
	width: 200px;
	height: 60px;
	text-align: center;

}

div#search{
		width: 300px;
		float:left;
}
div#result{
	width:200px;
	margin-left: 50px;
	float:left;
}

div.main1 {
	background-color: wheat;
	padding: 10px;
	margin : 10px;
	border: 1px solid black;
	font-family: arial;
	border-radius: 5px;
}

div.panel , div.mainpanel{
	background-color: green;
	color: white;
	width: 200px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	font-style: italic;
}

.panel:hover{
	background-color: sienna;
}

input:focus {
    background-color: sienna;
}

#parents{

	margin: 0 auto;
	width:726px;
	height:200px;
	
}	
#fathercontainer {
	margin-right:0px;	
	float:left;
	text-align:center
}

#mothercontainer {
	margin-left:0;
	float:right;
	text-align:center
}
#mother {
	margin-left:0;
}

#personandpartner{
	width:220px;
	height:200px;
	margin: 0 auto;
	padding:0px;
	
}	
#mainpersoncontainer {
	clear:left;
	float:left;
}
#partner {
	float: right;
}	
	

#partnerlink {
	margin: 20px 40px;
	width: 40px;
	height: 20px; 
	

}
.submenu {
	background-color: wheat;
	padding: 10px;
	margin : 10px;
	border: 1px solid black;
	font-family: arial;
	border-radius: 5px;
	width: auto;
	height: 80px;
	clear:left;
}

ul {
	list-style-type: none;
	padding: 0px;
   	margin:  0px;
}

li {
	background-color: #4AA02C;
	border: 5px outset #4AA02C;
	padding: 5px;
	color: brown;
	
}
 li:hover {
 border: 5px inset #89C35C;
 }


.option:hover{
	 border: 5px inset #89C35C;
}

#mysearch {
		margin: 10px;
		width : 150px;
		height: auto;
		float: left;
}




 #coolmenu {
 	margin: 10px;
	width: 920px;
	height: auto;
	float: left;
}

#upper_right {
	width: 920px;
	padding: 10px auto;
	float:left;
	line-height: 1.5em;
}
tr:hover {
	background-color: sienna;
}


svg {
	margin: 20px 63px;
	background-color: white;
}

.green {
	
	background-color: green;
	cursor: default;
}

.node text {
	font: 12px sans-serif;
	font-color: white;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}