h1,h2 {
	color: sienna;
}

.node text {
	font: 12px sans-serif;
	font-color: white;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}

.chart {
	background-color: white;
}
.textbox {
	font-size:15px;
}

.mydiag{
	font-family: Times New Roman;
}

.green {
	
	background-color: sienna;
	cursor: default;
}
.coolmenu{
width: 150px;
border: 1px solid black;
}

.coolmenu td{
background-color:bisque;
cursor:hand;
font-family:Times New Roman;

}
