h1,h2 {
	color: sienna;
}


.chart {
	background-color: white;
}
.textbox {
	font-size:15px;
}

.mydiag{
	font-family: Times New Roman;
}

.green {
	
	background-color: sienna;
	cursor: default;
}
.coolmenu{
width: 150px;
border: 1px solid black;
}

.coolmenu td{
background-color:bisque;
cursor:hand;
font-family:Times New Roman;

}
